---
import LoginForm from "../../components/loginForm.astro";
import LoginBackground from "../../layouts/loginBackground.astro";



if (Astro.request.method === "POST") {
	const data = await Astro.request.formData()
	const finalForm = Object.fromEntries(data.entries());
	const reqResponse = await fetch("http://localhost:6700/api/login", {
		method: "POST",
		body: JSON.stringify(finalForm),
		headers: {
			"Content-Type": "application/json",
		},
	})
	const res = await reqResponse.json()
	if (res.error === undefined) {
		console.log(res, "Successful login")
		Astro.cookies.set("colibase", res.value, {
			expires: new Date(
				new Date().getTime() + 1000 * 60 * 60 * 24 * 30
			),
			httpOnly: true,
			secure: import.meta.env.PROD && new URL(Astro.request.url).origin.includes("https://"),
			sameSite: "strict",
			path: "/",
		})
		console.log(Astro.cookies.get("colibase"))
		console.log(new URL(Astro.request.url).origin)
		return Astro.redirect("/ui/dashboard")		
	} else {
		console.log(res.error)
		return new Response(JSON.stringify(res), {
		headers: {
			"Content-Type": "application/json",
		},
	})
	}
}

---

<html lang="en">
	<head>
	</head>
	<body>
		<LoginBackground>
			<LoginForm Heading="Login" Action="init-login"/>
		</LoginBackground>
<div>
</div>
	</body>
</html>
