---
import StandardLayoutWithSidebar from "../../layouts/standardLayoutWithSidebar.astro"
---

<StandardLayoutWithSidebar title="Database">
    <h1>Database</h1>
    <p>Coming soon...</p>
</StandardLayoutWithSidebar>

