---
import StandardLayoutWithSidebar from "../../layouts/standardLayoutWithSidebar.astro";
---

<StandardLayoutWithSidebar title="Settings">
    <h1>Settings</h1>
    <p>Coming soon...</p>
</StandardLayoutWithSidebar>

